@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

:root {
  --old-mauve: #5d2a42;
  --fiery-rose: #fb6376;
  --melon: #fcb1a6;
  --unbleached-silk: #ffdccc;
  --floral-white: #fff9ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--old-mauve);
}

main {
  margin: 0;
}

.App {
  font-family: 'League Spartan', sans-serif;
  background-image: linear-gradient(
    var(--floral-white),
    var(--fiery-rose),
    var(--old-mauve)
  );
}

.vote-button {
  margin-bottom: 0;
  text-align: center;
}

.single-review-title {
  color: #5d2a42;
  padding: 20px 0;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.list-card {
  text-align: left;
  margin: 10px auto;
  filter: drop-shadow(1.5px 1.5px 1px rgb(172, 107, 107));
}

.header {
  background-color: var(--old-mauve);
  margin: 0;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  text-align: left;
  font-size: 2.5em;
  margin: 0;
  margin-left: 10px;
  color: #fff3e0;
}

.avatar-login {
  margin-right: 20px;
  position: relative;
}

.login-dropdown {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  right: 0;
  top: 100%;
  background-color: #ffffff;
  width: 150px;
  height: fit-content;
  border-radius: 4px;
  filter: drop-shadow(10px 2px 10px rgba(71, 71, 71, 0.384));
}

.dropdown-username {
  padding: 10px 0;
  font-family: sans-serif;
  font-weight: 350;
  font-size: 16px;
}

.dropdown-username:hover {
  background-color: lightgrey;
}

.dropdown-username:active {
  background-color: lightgrey;
}

.username-text {
  margin-left: 10px;
}

.nav {
  margin-top: 15px;
}

.category-name {
  background-color: var(--old-mauve);
  border-radius: 3px;
  max-width: 200px;
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--floral-white);
}

.category-menu-item {
  text-transform: capitalize;
}

.hearts {
  color: var(--unbleached-silk);
  margin-right: 7px;
}

.comment-author {
  width: 0;
  color: var(--fiery-rose);
}

.comment-date {
  font-size: small;
  color: var(--old-mauve);
}

.review-author {
  color: var(--fiery-rose);
}

.heart-button {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.order-toggle {
  margin-right: 20px;
  width: 24px;
  align-self: flex-end;
}

.designer-text {
  font-style: italic;
  padding: 3px 15px;
}

.home-button {
  width: fit-content;
  display: flex;
  gap: 0;
  justify-content: left;
  align-items: center;
  margin-left: 5px;
}

.home-button:hover {
  gap: 5px;
}

.view-comment-toggle {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.order-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}