@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

:root {
  --old-mauve: #5d2a42;
  --fiery-rose: #fb6376;
  --melon: #fcb1a6;
  --unbleached-silk: #ffdccc;
  --floral-white: #fff9ec;
}

html {
  background-color: var(--old-mauve);
}

.vote-button {
  margin: 20px auto;
  margin-bottom: 0;
}

.single-review-title{
  color: #5d2a42;
}

.App {
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  background-image: linear-gradient(
    var(--floral-white),
    var(--fiery-rose),
    var(--old-mauve)
  );
}

.list-card {
  text-align: left;
  margin: 10px auto;
}

.header h1 {
  margin: 0;
  padding: 20px 0;
}

dl {
}
ul {
}

.list-review-card {
}

.nav {
}

a:link {
  text-decoration: none;
}

.view-button {
}
