:root {
  --steel-teal: #607b7d;
  --deep-space-sparkle: #3a606e;
  --xanadu: #828e82;
  --laurel-green: #aaae8e;
  --gainsboro: #e0e0e0;
}

.App {
  text-align: center;
  background-color: var(--gainsboro);
}

.header h1 {
  background-color: var(--deep-space-sparkle);
  margin: 0;
  padding: 20px;
}

.list-img {
  height: 200px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.list-review-card {
  border: 10px solid var(--deep-space-sparkle);
  padding: 1rem;
}

.nav {
  background-color: var(--steel-teal);

  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 30px;
}

a:link {
  text-decoration: none;
  padding: 1rem;
}
